# Executables - Windows
*.exe
*.msi
*.dll
*.bat

# Executables - macOS
*.app
*.out
*.dylib

# Executables - Unix-like
# *
# !*.*
# !*/
# !Makefile

# Object and Debug files
*.o
*.obj
*.dSYM/

# IDE specific
.vscode/

# Build directories
build/
Debug/
Release/
dist/
bin/