# Executables
*.exe
*.exec
*.out
*.app
a.out

# Object files
*.o
*.obj

# Debug files
*.dSYM/

# VS Code files
.vscode/

# Build directories
build/
Debug/
Release/

# Executables without extension (on Unix systems)
*
# !*.*
!*/
!Makefile